<!DOCTYPE html>
<html>
  <head>
    <title> Runwal| Real Estate Developer and Builder </title>
  </head>
  <body>
    Runwal Builders
  <div class="container clearfix">
        <div class="logo">
             <img src="https://webapplication-2.reshmakamble.repl.co/static/runwal-logo.png" height = "100">
          
          <div class="eqbutn"><a href="javascript:void(0);" class="js-open-modal" data-modal-id="popup2">Enquire Now>
              <div class="form_fields">
                        <form action="salesforce.php" id="form_id" class="form_class" method="post" novalidate="novalidate">
                            <div class="form_row relative">
                                <label>NAME</label>
                                <input type="text" name="fullname" id="contact_name" placeholder="Name" class="required">
                            </div>
                            <div class="form_row relative">
                                <label>EMAIL</label>
                                <input type="text" name="email" id="contact_email" placeholder="Email" class="required email">
                            </div> 
                        </form>
                        
              </div>
            
          </a>
            
          </div>
        
                    <li><span><a class="active">Home</a></span></li>
                                      <li class="submenu"><span><a style="cursor:default">About Us</a></span</li>
                                      <li class="submenu"><span><a style="cursor:default">Projects </a></span</li>
                                      <li class="submenu"><span><a style="cursor:default">Career </a></span></li>
                                      <li class="submenu"><span><a style="cursor:default">Contact us </a></span></li>

<p>
  {{properties}}
</p>

  </body>
